body {
  font-family:verdana;
  background-color: rgb(255,255,255);
 margin:0px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;

}

h1 {
  font-size:2em;
  color: White;
  margin-left: 20px;
  padding:0;
}

h2 {
  font-size:2em;
  color: Gray;
  margin-left: 20px;
  padding:0;
}

h3 {
  font-size:1em;
  color: rgba(100,100,180,1);
  margin-left: 25px;
  padding:0;
}


p {
  font-size:1em;
  color: rgb(255, 255, 232);
  margin-left: 20px;

}

p1 {
  font-size:1em;
  color: rgb(255,255,255);
  margin-top:5px;
  margin-left: 20px;
}

p2 {
  font-size:1em;
  color: rgb(250,250,250);
  padding:1px;
  margin-left: 15px;
 font-weight:bold;
}


p3 {
  font-size:1em;
  color: rgb(250,250,250);
   text-align:center;
   margin-left:10px;
}

p4 {
  font-size:1em;
   color: rgb(20,20,20);
  padding:1px;
  margin-left: 15px;
 font-weight:bold;
text-align:left;
}

.footer {
   text-align: left;
  font-size:0.5em;
  color: rgb(255,255,255);
}

td {
color: white;
}

li {
  font-size:1em;
  color: rgb(0, 0, 0);
  list-style-type: none;
  margin-top:10px;
  margin-bottom:10px;
  margin-left: 20px;
  margin-right:20px;
  text-align:left;
  overflow: hidden;
  text-decoration:none;
}

ul{
text-align: left;

}

.container{
 outline: none;
/* https://images.unsplash.com/photo-1501696461415-6bd6660c6742?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=80 */
/*https://images.unsplash.com/photo-1605235904827-2fc511a86dd0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80 */
/*https://images.unsplash.com/photo-1471357674240-e1a485acb3e1?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2075&q=80 (starfish)*/
/*https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2072&q=80 (birds)*/
  background-image: url("https://images.unsplash.com/photo-1501696461415-6bd6660c6742?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2000&q=80");
  background-color: black;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: 0px -1520px;
}

.layer {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
}

.maskColour{
background-color:rgba(0,0,130,0.3);
}

.headerDiv {
 margin:0;
  text-align: center;
  color: white;
  padding-top:100px;
  padding-bottom:100px;
}

.headerDivTextHeader{
 font-size:1.5em;
  color: rgb(250,250,250);
   font-weight:light;
   text-align:center;
}

.headerDivTextSub{
 font-size:2em;
  font-weight:normal;
  color: rgb(250,250,250);
   text-align:center;
}


.headerDivOrder {
  text-align: center;
  color: white;
  padding-bottom:10px;
}


.parentInfo{
 display: flex;
}

.boxInfo{
display: flex;
margin-left:180px;
margin-right:180px;
}

.boxInfoPadded{
display: flex;
margin-left:180px;
margin-right:180px;
}

.section01Div {
 flex:1;
 text-align: left;
 align-items: center;
 overflow: hidden;
}


.section02Div {
flex:1;
padding-top:20px;
padding-right:400px;
padding-left:400px;
text-align: center;
}


.section03Div{
flex:2;
padding-top:20px;
padding-bottom:20px;
text-align: center;
border-right: rgba(0,0,80,0.2) solid 0.5px;
border-bottom: rgba(0,0,80,0.2) solid 0.5px;
margin:0px;
}

.section03Div01{
flex:2;
padding-top:20px;
padding-bottom:20px;
text-align: center;
border-bottom: rgba(0,0,80,0.2) solid 0.5px;
margin:0px;
}

.section03Div02{
flex:2;
padding-top:20px;
padding-bottom:20px;
text-align: center;
border-left: rgba(0,0,80,0.2) solid 0.5px;
border-bottom: rgba(0,0,80,0.2) solid 0.5px;
margin:0px;
}


.section03DivB{
flex:2;
padding-top:20px;
padding-bottom:20px;
text-align: center;
border-right: rgba(0,0,80,0.2) solid 0.5px;
margin:0px;
}

.section03Div01B{
flex:2;
padding-top:20px;
padding-bottom:20px;
text-align: center;
margin:0px;
}

.section03Div02B{
flex:2;
padding-top:20px;
padding-bottom:20px;
text-align: center;
border-left: rgba(0,0,80,0.2) solid 0.5px;
margin:0px;
}


.section03Div01Top{
flex:2;
padding-top:20px;
padding-bottom:20px;
text-align: center;
border-top: rgba(0,0,80,0.2) solid 0.5px;
margin:0px;
}

.section03Div01TopR{
flex:2;
padding-top:20px;
padding-bottom:20px;
text-align: center;
border-top: rgba(0,0,80,0.2) solid 0.5px;
border-right: rgba(0,0,80,0.2) solid 0.5px;
margin:0px;
}

.section03Div01BL{
flex:2;
padding-top:20px;
padding-bottom:20px;
text-align: center;
border: rgba(0,0,80,0.2) solid 0.5px;

margin:0px;
}


.section04Div{
flex:0;
padding-top:20px;
padding-bottom:20px;
padding-right:10px;
text-align: center;
border-bottom: rgba(0,0,80,0.2) solid 0.5px;
margin:0px;
}

.section05Div{
margin:auto;
width: 50%;
text-align: center;
}

.section05DivGallery{
  text-align: center;
  border-bottom: rgba(0,0,80,0.2) solid 0.5px;
}

.personalityWordTitle{
  text-align: center;
font-weight: bold;
color: black;
}

.leftWord{
  font-weight: bold;
  float:left;
  font-size: 0.9em;
  margin-left:150px;
  color: rgba(20,20,20,0.8);
}
.rightWord{
  font-weight: bold;
  float:right;
  font-size: 0.9em;
  margin-right:150px;
  color: rgba(20,20,20,0.8);
}

.line{
  border: solid rgb(120,120,120,0) 1px;
  background-color: rgb(120,120,120,0.6);
  border-radius: 10px;
  margin:auto;
  height:14px;
  width: 50%;
}

.fill{
  border: solid rgb(0,0,0,0.2) 1px;
  border-radius: 10px;
  margin:auto;
  width: 50%;
  height:12px;
}


ul.nav {
  list-style-type: none;
  margin: 1px;
  display: inline;
  float: right;
}


li.nav {
 display: flex;
  float:left;
  padding: 10px;
 align-items: center;
border-radius:10px;
background-color:rgba(20,20,20,0.7);
}

.iconNav:hover{
    transform: scale(1.3);
}

i{
transform: scale(1.2);
}


.radiusBorder{
flex:1;
  padding: 3px;
  align-items: center;
  text-align:center;

}

li.radiusBorder {
text-align:left;
padding:20px;
margin-top:10px;
border-radius:10px;
background-color:rgba(220,80,190,0.2);
}

.bar{
display:inline-block;
padding:5px;
width:100%;
background-color:white;
position: fixed;
top: 0;
border-bottom: rgba(0,0,80,0.2) solid 0.5px;
}

.navPanel {
 display: inline-block;
 float:right;
 padding:5px;
 padding-right:8px;
 margin-right:2px;
 color:rgba(0,0,0,1);
 text-decoration: none;
}


.navFontHover{
font-size: 1em;
margin-left:10px;
 color:rgba(0,0,0,1);
}


.navFontHover:hover{
font-weight: bold;
padding-bottom: 2px;
border-bottom: rgba(0,0,180,0.4) solid 4px;
}


.nameNav{
display:inline;
}

.nameNavText{
float:left;
margin-right: 0px;
padding-right:15px;
font-size:1.5em;
color:black;
}


.blurb{
text-align:center;
font-size:1em;
color:rgba(0,0,0,0.8);
}

.boxText{
text-align:center;
font-size:1em;
padding-left:40px;
padding-right: 60px;
color:rgba(0,0,0,0.8);
}

.boxTextStudentID{
text-align:center;
font-size:0.7em;
padding-right:10px;
color:rgba(120,120,220,1);
}

.boxTextTitle{
text-align:center;
word-wrap:normal;
padding-left:10px;
padding-right:10px;
font-size:1.2em;
font-weight:bold;
color:rgba(0,0,0,1);
}

.boxTextTeamProfile{
text-align:left;
font-size:1em;
padding-left:40px;
padding-right: 60px;
font-weight:bold;
color:rgba(0,0,0,0.8);
}
